@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 220px; /* or whatever your sidebar width is */
  background-color: #2c3e50;
  color: white;

}

.product-main-content {
  flex: 1;
  display: flex;
  margin-left: 240px;
  flex-direction: column;
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.product-dashboard-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  font-family: 'Poppins', sans-serif;
}

.loading-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #555;
  font-size: 16px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
